---
- name: Reset the bricks
  remote_user: root
  gather_facts: no
  hosts: all
  vars_files:
    - cleanup_vars.yml

  pre_tasks:
    - name: Delete Gluster volume(s)
      gluster_volume:
         state: absent
         name: "{{ item }}"
      with_items: "{{ gluster_volumes }}"
      run_once: true

  roles:
    - gluster.infra
